* {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-variant: small-caps;
}

.navbar {
  background: #565656;
  padding: 5%;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
}

.navbar_items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
}

.intro {
  background-color: #fba82cea;
  height: 100vmin;
  left: 50%;
  position: absolute;
  top: 37%;
  transform: translate(-50%, -50%);
  width: 100vmin;
}
.intro > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.intro > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.intro > div div span {
  display: block;
}
.intro > div.intro_text-top {
  top: 0;
  padding: 10%;
}
.intro > div.intro_text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.intro > div.intro_text-top div span:first-child {
  color: #565656;
}
.intro > div.intro_text-bot {
  bottom: 0;
  padding-left: 20%;
}
.intro > div.intro_text-bot div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.aboutpicture {
  border: 1px solid #565656;
  width: 120px;
  height: auto;
  float: right;
  margin: 8%;
}

#app {
  color: black;
  font-size: 30px;
}
/*

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .jumbotron {
    color: #000000;
    height: 70vh;
    background-color: #d3c3c3;
    padding: 10% 0 0 15%;
  }
  .aboutpic {
    display: flex;
    border: 1px solid #000000;
    height: 60vh;
    width: 20vw;
    align-content: center;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
