* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f1ded1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-variant: small-caps;
}

.navbar {
  background: #f7f4e9;
  border-bottom: 1px solid black;
}

.nav-link {
  text-decoration: none;
  color: #ef0d50;
}

.nav-link:hover {
  color: #f7f4e9;
  background-color: #ef0d50;
}

.navbar_items {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.intro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 5%;
  background-color: #f7f4e9;
  border: 1px solid #565656;
}

.intro_text {
  grid-column: 1/4;
  grid-row: 1/4;
}

.intro_text > div div {
  font-size: 10vmin;
}

.intro_text > .text_top_span {
  display: block;
}

.intro_text > .intro_text-top {
  padding: 5%;
}

.intro_text > div.intro_text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.intro_text > div.intro_text-top div span:first-child {
  color: #fba82cea;
}

.intro_text > div.intro_text-bot {
  display: block;
  bottom: 0;
  padding-left: 20%;
  padding-bottom: 5%;
}

.intro_text > div.intro_text-bot div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.about {
  margin: 5%;
  background-color: #d0e8f7;
  color: #2f3538;
}

img {
  width: 100%;
}

.about_title {
  display: flex;
  justify-content: flex-start;
  padding-top: 3%;
  padding-left: 5%;
}

.about_text {
  padding: 25px;
  flex: 1 1 200px;
}

.about_flex {
  display: flex;
  flex-wrap: wrap;
}

.about_image {
  flex: 0 1 200px;
}
