* {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f1ded1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-variant: small-caps;
}

.navbar {
  background: #f7f4e9;
  border-bottom: 1px solid black;
}

.nav-link {
  text-decoration: none;
  color: #ef0d50;
}

.navbar_items {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 5%;
  background-color: #f7f4e9;
}

.intro_text {
  display: flex;
  flex-direction: column;
}

.intro_text > div div {
  font-size: 12vmin;
  padding: 2vmin 0; 
}

.intro_text > .text_top_span {
  display: block; 
}

.intro_text > div.intro_text-top {
  top: 0;
  padding: 5%; 
}

.intro_text > div.intro_text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.intro_text > div.intro_text-top div span:first-child {
  color: #fba82cea;
}

.intro_text > div.intro_text-bot {
  display: block;
  bottom: 0;
  padding-left: 15%;
  padding-bottom: 5%;
}

.intro_text > div.intro_text-bot div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}


.intro_img {
  display: flex; 
}

.aboutpicture {
  border: 1px solid #565656;
  width: 120px;
}

.about {
  background-color: #d0e8f7;
  color: #2f3538;
}

.about_title {
  display: flex;
  justify-content: center;
}

/*

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .jumbotron {
    color: #000000;
    height: 70vh;
    background-color: #d3c3c3;
    padding: 10% 0 0 15%;
  }
  .aboutpic {
    display: flex;
    border: 1px solid #000000;
    height: 60vh;
    width: 20vw;
    align-content: center;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
