* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f7f4e9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.navbar {
  background: #f7f4e9;
  border-bottom: 1px solid #ef0d50;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #2f3538;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.nav-link:hover {
  color: #ef0d50;
}

.navbar_items {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 5%;
  transform: skewY(-11deg);
}

.intro_text>div div {
  font-size: 15vmin;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.intro_text>.text_top_span {
  display: block;
}

.intro_text>.intro_text-top {
  padding: 5%;
  border-bottom: 1px solid #ef0d50;
}

.intro_text>div.intro_text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.intro_text>div.intro_text-top div span:first-child {
  color: #ef0d50;
}

.intro_text>div.intro_text-bot {
  display: block;
  bottom: 0;
  padding-left: 25%;
  padding-bottom: 7%;
}

.intro_text>div.intro_text-bot div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.about {
  margin: 5%;
  color: #2f3538;
  line-height: 2;
}

img {
  width: 100%;
}

.about_title {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-left: 5%;
  border-bottom: 1px solid #ef0d50;
  font-weight: bold;
}

.about_text {
  padding: 5%;
  padding-bottom: 0;
  flex: 1 1 200px;
}

.about_flex {
  display: flex;
  flex-wrap: wrap;
}

.about_image {
  flex: 0 1 200px;
}

.timeline_title {
  display: flex;
  justify-content: center;
  padding: 5%;
  font-weight: bold;
}

.timeline_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;

}

.timeline_details {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ef0d50;
}

.tl_what {
  display: flex;
  padding: 2%;
}

.tl_where {
  display: flex;
  padding: 2%;
}

.tl_when {
  display: flex;
}

.footer_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-top: 1px solid #ef0d50;
  background-color: #DEDBD1;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  color: #ef0d50;
}

.fa-github:hover {
  color: black;
}

.fa-twitter:hover {
  color: #55ACEE;
}

.fa-linkedin:hover {
  color: #007bb5;
}

.fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro_projects {
  display: flex;
  flex-direction: column;
}

.project_text>div div {
  font-size: 15vmin;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.project_text>.text_top_span {
  display: block;
}

.project_text>.project_text-top {
  padding: 5%;
}

.project_text>div.project_text-top div {
  animation: slide 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.project_text>div.project_text-top div span:first-child {
  color: #ef0d50;
}

@keyframes slide {
  to {
    transform: translateX(0);
  }
}

.projects_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image_card {
  display: flex;
  flex: 0 1 10%;
  align-items: center;

}